@import url(fontawesome-all.min.css);


html, body {
  height: 100%;
  width: 100%;
}

footer {
  background: #1f2224;
}

.footer-class h2 {
  color: #ffffff !important;
}

.navbar span, li {
  color: #A0A0A1;
  margin: 5px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.5 !important;
  text-transform: uppercase;
}

.navbar a {
  color: #FFFFFF !important;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 5px;
  padding: 5px;
/*    border: 3px solid green;
*/}

.sort {
  margin-top: 1em !important;
/*  border: 3px solid green;
*/}

  
.navbar strong {
  color: #FFFFFF;
}

.navbar-default {
  background-color: #1f2224;
}

.navbar {
/*  border: 3px solid green;
*/}

.nav-link {
  font-size: 1.1em !important;
}

.amazon-ads span {
  color: #ffffff !important;
  font-weight: 300 !important;
  letter-spacing: 0.1em !important;
  line-height: 1.5 !important;
  margin: 0 0 1em 0 !important;
  padding-top: 1em !important;
  text-transform: uppercase !important;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 1.5 !important;
  margin: 0 0 1em 0;
  padding-top: 1em;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  color: #000000;
}

h2 {
  font-size: 1.25em;
  color: #FFFFFF !important;
}

h3 {
  font-size: 1.2em;

}

h4 {
  font-size: 1.1em;
  color: #000000;
}

h5 {
  font-size: 0.9em;
  color: #FFFFFF;
}

h6 {
  font-size: 0.7em;
}

p {
    color: #a0a0a1;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.65;
}

.privacy {
  padding: 2em;
}

.privacy a {
  color: #34A58E;
}

.modal-full {
    min-width: 90%;
    margin: 0 auto;
}

.modal-full .modal-content {
    min-height: 90vh;
}

.modal-content {
  background-color: #1f2224;
}

.modal-header {
  background-color: #1f2224;
  border: 0px;
}

.modal-header span {
  color: #ffffff solid;
}

.modal-footer {
  border: 0px;
  background-color: #1f2224;

}

.close {
  color: #ffffff;
  text-shadow: 0 0px 0;
}

.close:hover {
  color: #e1e1e1;
}

.about-text {
  padding-top: 4em;
}

.footer-class {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
}